<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'esvapp/search.css' %}">
<div class="wrap">
    <div class="search">
        <input type="text" class="searchTerm" name="user_query" placeholder="Search the ESV Bible">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>
</body>
</html>