include LICENSE
include README
recursive-include profiles/templates *
recursive-include search_esv/static *
recursive-include search_esv/templates *
recursive-include products/templates *
recursive-include shopping_cart/templates *
recursive-include docs *