include LICENSE
include README
recursive-include profiles/templates *
recursive-include esv_search/static *
recursive-include esv_search/templates *
recursive-include home/templates *
recursive-include products/templates *
recursive-include shopping_cart/templates *
recursive-include docs *