{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
  <p>Email and password did not match, please try again.</p>
{% endif %}

<form id="login-form" action="{% url 'account_login' %}" method="post">
  {% csrf_token %}
  {% if next %}
    {% if user.is_authenticated %}
    <div class="form-row">
      <p>Please sign in with an authorized account.</p>
    {% else %}
    <div class="form-row">
      <div class="form-group col-md-4">
          <legend>Sign in</legend>
      </div>
      <div class="form-group col-md-4">
          <legend><a href="{% url 'account_signup' %}">Create account</a></legend>
      </div>  
    </div>
    <div class="form-group col-md-6">
      <label for="id_email">Email</label>
      <input type="email" class="form-control" name="email" autofocus="autofocus" placeholder="Email" max_length="255" id="id_email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group col-md-6">
      <label for="id_password">Password</label>
      <input type="password" class="form-control" name="password" id="id_password" placeholder="Password">
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <button type="submit" class="btn btn-primary">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      <div class="form-group col-md-4">
        <a class="forgot_password" href="{% url 'account_change_password' %}">Reset password</a>
      </div>
    </div>
    {% endif %}
  {% endif %}
</form>

{% endblock %}
  