@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: rgb(50, 40, 30);
    background: rgb(240, 220, 140) url("images/esv_logo_wide.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
}
