@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: rgb(50, 40, 30);
  background: #72abbf url("images/esv_cover.jpg") no-repeat;
  background-attachment: fixed;
  background-position: top center;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: absolute
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid rgb(240, 220, 140);
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: rgb(240, 220, 140);
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid rgb(240, 220, 140)C;
  background: rgb(240, 220, 140);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a.esv-crossref-link {
  color: #72abbf !important;
}