@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  color:  #003244;
  background: #72abbf url("images/esv_logo_wide.jpg") no-repeat;
  background-attachment: fixed;
  background-position-y: 10%;
  background-position-x: 50%;
  font-family: 'Open Sans', sans-serif;
  background-size: auto;
  height: auto;
}

.active {
  line-height: 0em
}
.jumbotron {
  position: absolute;
  left: 22%;
  top: 25%;
  bottom: 10%;
  width: 55%;
  height: 150%;
  text-align: 12p;
}
.topleft {
  position: absolute;
  top: 5px;
  left: 16px;
  font-size: 18px;
}

.centerleft {
  position: absolute;
  left: 10%;
  top: 50%;
  bottom: 10%;
  width: 80%;
  text-align: 12p;
  font-size: 16px;
}

.search {
  width: 100%;
  position: absolute
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid rgb(240, 220, 140);
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color:  #003244;
}

.searchTerm:focus{
  color:  #003244;
}

.searchButton {
  position: absolute;  
  right: -45px;
  width: 45px;
  height: 40px;
  border: 1px solid rgb(240, 220, 140)C;
  background: rgb(240, 220, 140);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 500px;
  height: 15%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*Prev adn Next page buttons*/
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #e0d27f;
  color: white;
}

.round {
  border-radius: 50%;
}

/*Crossway crossref link*/
a.esv-crossref-link {
  color: #e0d27f !important;
}