{% extends 'base.html' %}

{% block content %}

<form id="login-form" action="accounts/login" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>Sign in</legend>
    <section>
      <span>or <a href="/profiles/signup/">create an account</a></span>
    </section>
      <p>
        <label for="id_email">Email:</label>
        <input type="email" name="email" autofocus="autofocus" placeholder="Email" max_length="255" id="id_email">
      </p>
      <p>
        <label for="id_password">Password:</label>
        <input type="password" name="password" placeholder="Password" id="id_password">
        <input type="hidden" name="service" value="https://www.esv.org/cas/login/" id="id_service">
      </p>
      <table style="border: none; width:100%;"></table>
      <a href="/account/password/reset/" class="forgot_password">Forgot your password?</a>
      <p class="signin-row"><input type="submit" value="Sign in"></p>
  </fieldset>
</form>

<p>====================================================</p>

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}