@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  color:  #003244;
  background: white;
  background-attachment: scroll;
  background-position-y: 15%;
  background-position-x: 50%;
  font-family: 'Open Sans', sans-serif;
  background-size: auto;
  height: auto;
}

button {
  border: none;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #32325d;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  float: left;
  margin-left: 12px;
  margin-top: 28px;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
  background-color: #43458b;
}

.esvLogo {
  position: absolute;
  left: 0%;
  top: 50%;
  height: 80%;
  width: 80%;
}

.centerleft {
  position: absolute;
  left: 10%;
  top: 50%;
  bottom: 10%;
  width: 80%;
  text-align: 12p;
  font-size: 16px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #e0d27f;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color:  black;
}

.searchTerm:focus{
  color:  black;
}

.searchButton {
  position: absolute;
  top: 50%;
  right: 0px;
  height: 40px;
  width: 45px;
  color: white;
  cursor: pointer;
  background: #e0d27f;
  border: 3px solid #e0d27f;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

.search {
  position: absolute;
  width: 300px;
  height: 35px;
  top: 10%;
  left: 100%;
  transform: translate(-50%, -50%);
}

/*Resize the wrap to change the search bar*/
.wrap{
  position: absolute;
  width: 300px;
  height: 35px;
  top: 10%;
  left: 100%;
  transform: translate(-50%, -50%);
}
