{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'shopping_cart/css/checkout.css' %}">
  </head>
  <body>
    {% include 'messages.html' %}
    <div class="container">
      <section>
          <table class="table table-hover">
            <thead>
              <tr>
                <th><h4>Order Summary</h4></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                {% for item in order.get_cart_items %}
                  <tr>
                    <td>{{ item }}</td>
                    <td>${{ item.product.price }}</td>
                  </tr>
                {% endfor %}
                </td>
              </tr>
              <tr>
                <td><strong>Order Total</strong></td>
                <td><strong>${{ order.get_cart_total }}</strong></td>
              </tr>
            </tbody>
          </table>
          <button onclick="toggleDisplay();" class="btn btn-warning" style="width: 100%;">Checkout</button>
      </section>
      <div id="collapseStripe">
        <div class="wrapper" >
          <form action="." method="post">
            {% csrf_token %}
            <h3>Discount Code</h3>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="voucher_code"></label>
                <input type="text" class="form-control" name="voucher_codes" autofocus="autofocus" placeholder="Separate multiple codes with a comma" max_length="255" id="voucher_code" required readonly>
                <input type="hidden" name="order_id" value="{{ order.id }}">
              </div>
              <div class="form-group col-md-6">
                <button type="submit" class="btn btn-warning">Apply Discount</button>
              </div>
            </div>
          </form>
        </div>
        <div class="wrapper">
          <form action="." method="post" id="payment-form">
            {% csrf_token %}
            <h3>Checkout with Braintree</h3>
            <div id="bt-dropin"></div>
            <input type="hidden" id="nonce" name="payment_method_nonce"/>
            <button class="btn btn-primary my-2 my-sm-0">Submit Payment</button>
          </form>
        </div>
        <div id="stripe-token-handler" class="is-hidden"><span class="token"></span></div>
        <div class="wrapper">
          <h3>Checkout with Stripe</h3>
          <form action="." method="post">
            {% csrf_token %}
            <script
              src="https://checkout.stripe.com/checkout.js"
              class="stripe-button"
              data-key="pk_test_KA6Cf0oC5c235Qa63SAZrrAF"
              data-amount=""
              data-name="CW Demo Site"
              data-description="for total order"
              data-image="/static/images/esv_icon_128.png"
              data-locale="auto"
              data-zip-code="true"
              data-panel-label= ${{order.get_cart_total}}
              data-currency="USD"
              data-email= {{user.email}}>
            </script>
          </form>
        </div>
      </div>
    </div>
    <script src="{% static 'shopping_cart/js/checkout.js' %}"></script>
    <!-- script for the stripe form -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- can't do this: <script src="{% static 'js/stripeV3.js' %}"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js"></script>
    <script>
      var form = document.querySelector('#payment-form');
      var client_token = '{{ client_token }}';
      braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin',
        paypal: {flow: 'vault'}
        }, function (createErr, instance) {
          form.addEventListener('submit', function (event) {
            event.preventDefault();
            instance.requestPaymentMethod(function (err, payload) {
              if (err) {
                console.log('Error', err);
                return;
              }
              // Add the nonce to the form and submit
              document.querySelector('#nonce').value = payload.nonce;
              form.submit();
            });
          });
        }
      );
    </script>
  </body>
</html>