{% extends 'base.html' %}
{% load static %}

{% block content %}
  <table class="table table-bordered table-hover">
    <thead>
        <tr>
          <th><h4>Order Summary</h4></th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>
        {% for item in order.get_cart_items %}
          <tr>
            <td>{{ item }}</td>
            <td>${{ item.product.price }}</td>
          </tr>
        {% endfor %}
        </td>
      </tr>
      <tr>
        <td><strong>Order Total</strong></td>
        <td><strong>${{ order.get_cart_total }}</strong></td>
      </tr>
    </tbody>
  </table>
  <button onclick="toggleDisplay();" class="btn btn-warning" style="width: 100%;">Checkout</button>
  <div id="collapseStripe" class="wrapper">
    <div class="col-md-8 col-xs-12">
      <div class="panel">
        <div class="panel-body">
          <h5>Enter Discount Code Below<br><small>If multiple, separate each with comma</small></h5>
          <div>
            <form action="." method="post">
              {% csrf_token %}
              <input type="text"  name="voucher_codes" class="form-control" id="voucher_code" required>
              <input type="hidden"  name="order_id" value="{{ order.id }}">
              <br>
              <span>
                <input type="submit" class="btn btn-warning" value="Apply Discount"> 
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- script for the stripe form -->
    <script src="https://js.stripe.com/v3/"></script>
    <form action="." method="post" id="payment-form">
      {% csrf_token %}
      <div class="checkoutMethods">
        <div style="margin: 10px;">
          <h3>Checkout with Braintree</h3>
          <div id="bt-dropin"></div>
          <h3>Checkout with Stripe</h3>
          <div class="form-row">
            <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_KA6Cf0oC5c235Qa63SAZrrAF"
            data-amount="999"
            data-name="Demo Site"
            data-description="Widget"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="true">
          </script>
        </div>
      </div>
    </form>
  </div>
  <div id="stripe-token-handler" class="is-hidden"><span class="token"></span></div>
{% endblock %}

{% block script %}
  <script src="{% static 'shopping_cart/js/checkout.js' %}"></script>
  <!-- script for the braintree form -->
  <script src="https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js"></script>
  <script>
    var form = document.querySelector('#payment-form');
    var client_token = '{{ client_token }}';
    braintree.dropin.create({
      authorization: client_token,
      container: '#bt-dropin',
      paypal: {flow: 'vault'}
      }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
          event.preventDefault();
          instance.requestPaymentMethod(function (err, payload) {
            if (err) {
              console.log('Error', err);
              return;
            }
            // Add the nonce to the form and submit
            document.querySelector('#nonce').value = payload.nonce;
            form.submit();
          });
        });
      });
  </script>

  <!-- script for toggling display of the form -->
  <script type="text/javascript">
      function toggleDisplay() {
        var x = document.getElementById("collapseStripe");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
      };
  </script>
{% endblock %}
