{% extends "base.html" %}

{% block content %}

<form id="pw-reset-form" action="." method="post">
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
    <div class="form-row">
    <legend>Enter account email address</legend>
    <div class="form-group col-md-6">
        <label for="id_email">Email</label>
        <input type="email" class="form-control" name="email" autofocus="autofocus" placeholder="Email" max_length="255" id="id_email">
        <p>{{ form.email }}</p>
    </div>
    <button type="submit" class='btn btn-primary' value="Reset password">Send Request</button>
</form>

{% endblock %}