{% extends 'base.html' %}

{% block content %}
    {{ message }}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.name }}</td>
                    <td>${{ object.price }}</td>
                    <td>
                        {% if object in user.profile.owned_item.all %}
                            <a href="{% url 'shopping_cart:add_to_cart' object.id %}" class="btn btn-warning">Buy again</a>
                        {% elif object in current_order_products %}
                            <a href="{% url 'shopping_cart:order_summary' %}" class="btn btn-warning">Checkout</a>
                        {% else %}
                            <a href="{% url 'shopping_cart:add_to_cart' object.id %}" class="btn btn-warning">Add to cart</a>
                        {% endif %}
                    </td>
                </tr>
            {%endfor%}        
        </tbody>
    </table>
{% endblock content %}